// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {

  $block-name:                &; // #{$block-name}__element

  display: flex;

  &__item {
    margin: 3px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    transition: $transition-time;

    &:hover {

      #{$block-name}__icon {
        fill: #CE3434;
      }
    }
  }
  &__icon {
    transition: $transition-time;
    fill: #B5AAA3;
  }
}

