// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element


  @media (max-width: ($screen-lg - 1)) {
    border-bottom: 2px solid #ddd4cf;
    background: #F6F2F0;
  }

  &__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    flex-shrink: 0;

    @media (max-width: ($screen-xl - 1)) {
      max-width: 140px;
      max-height: 140px;
    }
    @media (max-width: ($screen-lg - 1)) {
      max-width: 100px;
      max-height: 100px;
    }
  }
  &__left,
  &__right {
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 15px;
  }
  &__left {

  }
  &__right {
    text-align: right;
  }

  &__slogan {
    display: inline-block;
    text-align: center;
    position: relative;
    font-family: $font-family--headings;
    font-size: 24px;
    line-height: 1.2;
    padding: 10px 50px;

    @media (min-width: $screen-xl) {
      font-size: 30px;
      line-height: 34px;
      padding: 10px 50px;
    }

    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
    &:before {
      content: "";
      width: 54px;
      height: 58px;
      background-image: url(../img/sl_l.svg);
      left: 0;
    }
    &:after {
      content: "";
      width: 54px;
      height: 58px;
      background-image: url(../img/sl_r.svg);
      right: 0;
    }

    span {
      display: block;
    }
  }

  &__search {
    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }
  &__email {
    font-size: 15px;
    line-height: 20px;
    padding-left: 30px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    color: $text-color;
    text-decoration: none;
    margin-right: 20px;

    @media (min-width: $screen-xl) {
      font-size: 17px;
    }

    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__options {
    display: flex;
    justify-content: flex-end;
  }
}
