// В этом файле должны быть стили для БЭМ-блока product-action, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-action {

  $block-name:                &; // #{$block-name}__element

  background: #F6F2F0;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product-action-inf {
  color: #CE3434;
  letter-spacing: 0.13em;
  border: 2px solid #CE3434;
  font-weight: 700;
  text-align: center;
  padding: 6px;
}
