// В этом файле должны быть стили для БЭМ-блока basket, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.basket {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__list {
    @include col();
    @include col(xl, 9);
    @include col(lg, 8);
    margin-bottom: 25px;
  }

  &__sidebar {
    @include col();
    @include col(xl, 3);
    @include col(lg, 4);
  }

  &__item {
    border: 1px solid #E9E3E1;
    &:not(:first-child) {
      margin-top: -1px;
    }
  }
}
