// В этом файле должны быть стили для БЭМ-блока field-range, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$border-radius:               3px !default;

.field-range {
  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: ($line-height / 2);

  &__name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    @media (min-width: $screen-xxl) {
      font-size: 25px;
      margin-bottom: 24px;
    }
  }
  &__input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &__input-wrap {
    position: relative;
  }
  &__separator {
    width: 5px;
    height: 2px;
    background: #000;
    margin: 5px;
  }
  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    // height: 2.125em;
    padding: 0.7em 1em;
    margin: 0;
    line-height: $line-height;
    font-size: 14px;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #E9E4E1;
    border-radius: 0;
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &::placeholder {
      color: $text-color--muted;
      opacity: 1;
    }
  }

  &__slider {
    .irs--round {
      height: 26px;
    }
    .irs--round .irs-line {
      background: #E0D7D4;
      border-radius: 3px;
      top: 13px;
    }
    .irs--round .irs-handle {
      border-color: #fff;
      top: 2px;
      box-shadow: 0px 5px 10px rgba(61, 51, 45, 0.13);
      cursor: pointer;
    }
    .irs--round .irs-bar {
      background-color: #CE3434;
      top: 13px;
    }
    .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
      background-color: $color-main;
      color: #000;
    }
    .irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
      border-top-color: $color-main;
    }
  }
}

