// В этом файле должны быть стили для БЭМ-блока product-head, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-head {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 15px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (min-width: $screen-lg) {
      flex-wrap: nowrap;
    }
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    margin-right: 20px;
    margin-bottom: 12px;
    flex-basis: 100%;

    @media (min-width: $screen-lg) {
      flex-basis: auto;
    }
  }
  &__rating {
    margin-bottom: 12px;
  }
  &__add-favorites {
    margin-left: auto;
    margin-bottom: 12px;
  }
}
