// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: block;
  white-space: nowrap;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(61, 51, 45, 0.13) 0px 5px 10px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
