// В этом файле должны быть стили для БЭМ-блока payment-method, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.payment-method {

  $block-name:                &; // #{$block-name}__element

  background: #F6F2F0;
  box-shadow: 0px 5px 10px rgba(61, 51, 45, 0.13);
  padding: 35px;

  &__head {
    font-size: 24px;
    line-height: 27px;
    font-family: $font-family--headings;
  }
}
