// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background: #847973;
  padding: 40px 0;

  &__inner {
    display: flex;
    align-items: flex-start;

    @media (max-width: $screen-md) {
      // flex-wrap: wrap;
    }
  }
  &__logo {
    flex-shrink: 0;
    margin-right: 40px;

    @media (min-width: $screen-xl) {
      margin-right: 84px;
    }

    img {
      max-width: 70px;
      @media (min-width: $screen-lg) {
        max-width: 115px;
      }
      @media (min-width: $screen-xl) {
        max-width: 130px;
      }
    }
  }
  &__links {
    flex-grow: 1;
    flex-basis: 50%;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 50%;

    @media (min-width: $screen-lg) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__email {
    font-size: 17px;
    line-height: 20px;
    padding-left: 30px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;

    .icon {
      position: absolute;
      fill: #fff;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__social {
    margin-left: 20px;
    margin-bottom: 8px;

    .social__link {
      &:hover {
        .social__icon {
          fill: #fff;
        }
      }
    }
  }

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    column-count: 2;
    column-gap: 40px;
    margin-bottom: 20px;
    @media (max-width: $screen-lg) {
      // column-count: 1;
      // column-gap: 0;
      display: none;
    }

    li {
      margin-bottom: 4px;
    }
    a {
      color: #fff;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
