// В этом файле должны быть стили для БЭМ-блока user-option, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.user-option {

  $block-name: &; // #{$block-name}__element

  margin-left: 56px;

  @media (max-width: $screen-md) {
    margin-left: 30px;
  }

  &__wrap {
    display: flex;
    text-decoration: none;
  }

  &__icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;

    &:before {
      content: "";
      width: 38px;
      height: 34px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__num {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    background: #CE3434;
    color: #fff;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
  }

  &__info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: $screen-md) {
      display: none;
    }
  }

  &__name {
    font-size: 17px;
    line-height: 19px;
    color: #212121;
  }

  &__val {
    font-size: 15px;
    line-height: 17px;
    color: #B6B6B6;
  }

  &--favorites {

    #{$block-name}__icon {
      margin-right: 15px;
      &:before {
        background-image: svg-load('../blocks/user-option/bg-img/option-favorites.svg');
      }
    }
  }

  &--basket {

    #{$block-name}__icon {
      &:before {
        background-image: svg-load('../blocks/user-option/bg-img/option-basket.svg');
      }
    }
  }
}
