// В этом файле должны быть стили для БЭМ-блока product-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-carousel {

  $block-name:                &; // #{$block-name}__element

  &__wrap {
    height: 100%;
    position: relative;
    padding: 20px 0;
    background: #FFFFFF;
    border: 1px solid #E9E3E1;
  }

  &__labels {
    position: absolute;
    top: 15px;
    left: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .label {
      margin-bottom: 4px;
    }
  }

  padding: 30px 35px 0 35px;
  margin-bottom: 30px;

  .slick-slide {
    &:focus {
      outline: none;
    }
  }
}

.product-carousel-nav {
  .slick-slide {
    border: 5px solid #fff;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.slick-current {
      border-color: #F6F2F0;
    }
  }
  img {
    padding: 10px 0;
  }
}
