// В этом файле должны быть стили для БЭМ-блока add-favorites, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.add-favorites {

  $block-name:                &; // #{$block-name}__element

  cursor: pointer;
  display: flex;
  align-items: center;

  &__icon {
    width: 46px;
    height: 46px;
    background-color: #F6F2F0;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: svg-load('../blocks/add-favorites/bg-img/cil_heart.svg');
    }
  }

  &__text {
    padding-left: 20px;
  }

  &.active {
    #{$block-name}__icon {
      &:before {
        background-image: svg-load('../blocks/add-favorites/bg-img/cil_heart_fill.svg');
      }
    }
  }
}
